body {
    background-color: #3F43AD;
    margin: 0em;
}

nav {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

ul {
    float: left;
    list-style-type: none;
    padding: 0em;
    position: relative;
    left: 50%;
}

li {
    float: left;
    position: relative;
    right: 50%;
}

li a {
    padding: 1em;
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #FE5442;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    color: #FE5442;
}

footer {
    position: absolute;
    bottom: 1em;
    width: 100%;
    color: white;
    text-align: center;
}