.FONDO {
    background-color: #FFCE00;
}

.fondito {
    background-color: #000000;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.grande {
    font-size: 90px;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

.normal {
    font-weight: 400;
}

.negrita {
    font-weight: 800;
}

.espacio-arriba {
    margin-top: 3em;
}

.espacio-abajo {
    margin-bottom: 0.5em;
}

.mediano {
    font-size: 45px;
}

.pequeno {
    font-size: 30px;
}

.negro {
    color: #000000;
}

.amarillo {
    color: #FFCE00;
}

.naranja {
    color: #FF1E16;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    list-style: none;
}

